@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

:root{
    --main-color:#DAA520;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;

}
body{
    background: var(--bg);
}
section{
    padding: 2rem 7%;
}

/* heading styling  */
.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom:2.5rem;
    font-size: 4rem;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

/* button styling  */
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    background: var(--main-color);
    cursor: pointer;
}
.btn:hover{
    background: #ccc;
}

/*header navbar section styling  */
.header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}
.header.sticky{
    padding: 1.5rem 7%;
    background: var(--bg);
    border-bottom: var(--border);
}
.header .logo img{
    height: 6rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
     /* transform: rotate(0.3rad);/ */
     /* transform: rotate(3grad); */ 
     /* transform: rotate(.03turn);  */
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }

.header .navbar a{
    margin: 0 3rem;
    font-size: 1.6rem;
    color: #fff;
}
.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

/* home section styling  */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./images/ronaldo3.jpg) no-repeat;
    background-size: cover;
    background-position:center;

}
.home .img-caption{
    max-width: 60rem;
}
.home .img-caption h3{
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
}
.home .img-caption p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee ;
    text-align: justify;
}

/* about section styling  */
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
  
}
.about .row .img-caption{
    flex: 1 1 45rem;
    padding: 2rem;
    padding-top: 5.5rem;
}

.about .row .img-caption p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
    text-align: justify;
}

/* awards section styling  */

.awards .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.awards .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}
.awards .box-container .box img{
    height: 7rem;
}
.awards .box-container .box img:hover{
    transform: scale(1.4);
}
.awards .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.awards .box-container .box:hover{
    background:var(--black);
}

.awards .source{
    padding-top:2rem;
    text-align: center;
}


/* footer section styling  */

.footer{
    background: var(--black);
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}
.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding: 1.5rem;

}
.footer .credit span{
    color: var(--main-color);
}


/* media queries */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding:1.5rem 2rem;
        transition: all 0.3s ease;
        
    }
    .header.sticky{
        padding: 1.5rem 7%;
        background: var(--bg);
        border-bottom: var(--border);
    }
    section{
        padding: 2rem ;
    }
}
@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar.active{
        right: 0;
    }
    
    .header .navbar a{
        color: var(--black);
        display: block;
        margin:1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }

}
@media (max-width:450x){
    html{
        font-size: 50%;
    }
}